@media only screen and (max-width:1150px){
    /* NavBar responsive start */
    .navBar{
        display: none;
    }
    .navResponsive{
        display: flex !important;
        top: 0;
        width: calc(100% - 32px);
        justify-content: space-between;
        padding: 18px 18px;
        box-shadow:30px 30px 20px black;  
        transition: 0.4s;
    }
    .navResponsive a, .navResponsive h1{
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    .navResponsive h1{
        font-size: 1rem;
    }
    .navResponsive a{
        display: flex;
        padding: 12px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: linear-gradient(-45deg,#C996CC,#916BBF,#2c677b);
    }
    .navResponsive a i{
        margin: auto;
    }
    .resNavMenu{
        display: none;
        position: fixed;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg, #205671, #24378c);
        transition: width 2s linear;
    }
    .containerMenu{
        margin-top: -20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .resNavMenu a{
        font-size: 2rem;
        color: white;
        margin: 1rem auto;
        transition: 0.4s;
        padding: 8px 16px;
        border-radius: 4px;
    }
    .resNavMenu a:hover{
        background-color: white;
        color: black;
    }
    .resNavMenu::before{
        background-color: #1C0C5B;
    }
    /* NavBar responsive end */
    /* Home responsive start */
    #home{
        margin: 5rem auto;
        padding: 12px 24px;
    }
    #home h1, #home p{
        text-align: center;
    }
    .logo{
        display: none;
    }
    .homeButtons{
        display: block;
        text-align: center;
        margin: 1.5rem auto;
    }
/* Home responsive end */
/* skills responsive start */

    #skills{
        padding: 12px 24px;
    }
    .skillsContainer{
        grid-template-columns: 100%;
    }
    /* skills responsive end */
    /* cer responsive start */
    #cer{
        padding: 12px 24px;
    }
    .cerContainer{
        grid-template-columns: 100%;
    }
    /* cer responsive end */

    /* How responsive start */
    #How{
        padding: 12px 24px;
    }
    .cerContainer{
        grid-template-columns: 100%;
    }
    /* How responsive end */


/* Experanice responsive start */

   #exp{
    padding: 12px 24px;
   }
    .exper{
    grid-template-columns: 100%;
   }
/* Exp responsive end */



    
    /* contact responsive start */
    #contact{
        padding: 12px 24px;
    }
    .contactForm form{
        width: unset;
        padding: 12px 18px;
    }
    .contactForm form input,textarea{
        width: 100%;
    }
}

