@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden; 
    font-family: 'Times New Roman', serif ;
}
html{

    background-color: #321a50;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    scroll-behavior: smooth;
    overflow-y: unset;
    text-align: justify;
    height: 400px;
    width: 100%;

}



/* nav bar styles start */
.navBar{
    width: 100%;
    background: transparent;
    text-align: center;
    padding: 28px 0px;
    box-shadow:30px 30px 200px black;  
    transition: 0.4s;
}
.navScroll{
    background-color: #7d4b96 !important;
    position: fixed;
    z-index: 2;
}
.navBar a{
    color: rgb(49, 20, 46);
    font-weight: 900;
    padding: 12px 18px;
    transition: 0.4s;
    border-radius: 6px;
}
.activeNav{
    background-color: white;
    color: black !important;
}
.navBar a:hover{
    background-color: rgb(132, 73, 123);
}
.navResponsive{
    display: none;
}
.resNavMenu,.containerMenu{
    display: none;
}
/* nav bar styles end */

/* home styles start */
#home{
    margin: 10rem auto;
    padding: 100px 35px;
    display: flex;
    width: 80%;
}
.textHomeArea{
    padding-bottom: 1rem;
}
.hiWord{
    font-size: 3em;
}
.changeName{
    color: white;
    font-size: 2.5em;
}
.changeText{
    border-right: 3px solid #fff;  
    animation: cursor 1s step-end infinite;
}
.wordDifferent{
    color: #0a0610;
}
#home p{
    color: white;
    font-size: 1.25em;
}
@keyframes cursor {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}
.logo{
    width: 15em;
    border-radius: 50%;
}
.homeButtons{
    padding: 1rem 3rem;
    background-color: #916BBF;
    color: white;
    transition: 0.4s;
}
.homeButtons:hover{
    background-color: #6a4796;
}
/*Home styles end*/
/*Skills styles start*/
#skills{
    padding: 112px 48px;
    margin: auto;
    width: 80%;
}
.skillsHeading{
    font-size: 2.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 1.6rem auto;
}
.skillsContainer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 2%;
    grid-row-gap: 30px;
    justify-content: center;
}
.skill{
    display: inline-block;
    background-color: #3d2c8d80;
    padding: 12px 24px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.4s;
    border-radius: 8px;
}
.skill:hover{
    background-color: #3D2C8D;
    cursor: pointer;
}
.skill:hover img{
    background-color: white;
    border-radius: 50%;
}
.skill img{
    margin: 1rem auto;
    padding: 10px;
    transition: 0.4s;
}
/*Skills styles end*/

/*exp styles start*/
#exp{
    padding: 150px 60px;
    margin: auto;
    width: 90%;
}
.expHeading{
    font-size: 2.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 1.6rem auto;
}
.expContainer{
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 60px;
    justify-content: center;
}
.exp img{
    width: 100%;
    border-radius: 25px;
}
/*exp styles end*/



/*Cer styles start*/
#cer{
    padding: 150px 60px;
    margin: auto;
    width: 90%;
}
.cersHeading{
    font-size: 2.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 1.6rem auto;
}
.cerContainer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 2%;
    grid-row-gap: 60px;
    justify-content: center;
}
.cerificate img{
    width: 100%;
    border-radius: 25px;
}
/*Cer styles end*/

/*How styles start*/


#How{
    padding: 150px 60px;
    margin: auto;
    width: 90%;
}


.text{
    font-size: 2rem;
    color: #aa1717;
    text-align: center;
    margin: 1.6rem auto;



}
.cersHeading{
    font-size: 2.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 1.6rem auto;
}
.cerContainer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 2%;
    grid-row-gap: 60px;
    justify-content: center;
}
.cerificate img{
    width: 100%;
    border-radius: 25px;
}
/*How styles end*/



/*contact styles start*/
#contact{
    padding: 112px 48px;
    margin: auto;
    width: 80%;
}
.contactHeading{
    font-size: 2.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 1.6rem auto;
}
.contactForm{
    text-align: center;
    margin: 2rem auto;
}
.contactForm form{
    padding: 24px 0px;
    background-color: #3d2c8d80;
    width: 30rem;
    margin: auto;
}
.contactForm form label{
    font-size: 1.75rem;
    font-weight: 400;
    color: white;
    padding: 24px;
}
.contactForm form input,textarea{
    outline: 0;
    border: 0;
    border-bottom: 1px solid #916BBF;
    margin: 1rem auto;
    color: white;
    font-size: 1.5rem;
    background: transparent;
    transition: 0.4s;
}
textarea{
    resize:vertical;
}
.contactForm form input:focus,textarea:focus{
    border-bottom: 1px solid #674d88;
    padding: 8px 12px;
}
.contactForm form button{
    outline: 0;
    border: 0;
    color: white;
    text-align: center;
    margin: 1rem auto;
    padding: 12px 24px;
    background-color: #6a4796;
    transition: 0.4s;
    border-radius: 4px;
    cursor: pointer;
}
.contactForm form button:hover{
    background-color: #482f66;
}
.socialLinks{
    text-align: center;
    padding: 12px 0px;
}
.socialLink img{
    transition: 0.4s;
}
.socialLink img:hover{
    transform: translateY(-6px);
}



